
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c2b7f0;
}

.container {
    width: 40%;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px #078ee733;
    border-radius: 10px;
    text-align: center;
    margin: 30px 0 0 0;
}

h1 {
    color: #474249;
}

.form input {
    padding: 10px;
    margin: 5px;
    width: 90%;
    outline: none;
    border-radius: 10px;
    border: 2px solid #03272c;
}

.form input:hover {
    border: 2px solid rgb(235, 195, 232);
}

.form button:hover {
    background-color: #291af5;
}

.form input:focus {
    border: 2px solid #ab4bd8;
}

button {
    cursor: pointer;
    background-color: #22d2f1;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 50%;
}

.bookmark {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #daa0a0;
    padding: 10px;
    background: #5b52d6;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px #ee494933;
}

.bookmark div {
    display: flex;
    justify-content: space-between;
}

.bookmark a{
    text-decoration: none;
}

.bookmark a:hover{
    text-decoration: none;
    color: #4CAF50;
    font-size: 1.1rem;
}

.bookmark button {
    width: 12vw;
    height: 5vh;
    padding: 5px;
    margin: 5px;
    background-color: #ec1822;
    color: #ffffff;
    border: none;
    border-radius: 7px;
}

.bookmark button.edit {
    background-color: #2edf71;
}

#bookmarksList {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 80%;
    margin: 5%;
}

.fas {
    margin: 0 10px;
    font-size: small;
}

.container .fas {
    font-size: 2rem;
}

#urlError {
    color: #c50a0ac5;
}

#nameError {
    color: #c70c0c;
}


@media (max-width: 768px) {
    .container {
        width: 80%; 
        padding: 15px;
    }

    #bookmarksList {
        grid-template-columns: 50% 50%; 
    }

    .bookmark button {
        width: 18vw; 
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    #bookmarksList {
        grid-template-columns: 100%; 
    }

    .bookmark button {
        width: 100%; 
    }

    .form input {
        width: 90%; 
    }

    .form button{
        width: 40%;
    }

    h1 {
        font-size: 1.5rem; 
    }
}
